body{
    margin: 0%;
    padding: 0%;
    background-image: url("./back2.png") ;
    color : white ;
}

h1{
    text-align: center;
}

#wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    border: solid 5px gold;

}

#chatter-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 49, 49);
    border: solid 5px wheat;
    border-radius: 5px ;
    width: 50%;
    height: 100%;
    margin: 10px;
}


.message {
    border-radius: 5px ;
    /* background-color: rgb(15, 82, 82); */
    max-width: 100%;
    margin: 4px;
    padding: 5px;
}
.chatter-message{
    background-color: rgb(15, 82, 82);
    align-self: flex-start;
    margin-left: 5%;
}

.chatter-multiple-choices-message{
    /* border: solid 5px wheat; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    background-color: var(--delayValue);
    width: 80%;
    height: 1em;
    
}
:root {
    --delayValue : 0s ;

  }


.multipleChoicesOptions{
    background-color: rgb(203, 127, 151);
    margin: 4px;
    padding: 5px;
    color: rgb(254, 253, 253);
    border-radius: 0px 5px  0px 5px ;
    /* animation: fadeIn 1s; */
    animation: fadeIn var(--delayValue)
}
.validated-user-message{
    background-color: rgb(131, 133, 9);
    align-self: flex-end;
    margin-right: 5%;
}

/* for testing*/
.user-message-form{
    border: solid 5px rgb(228, 153, 14);
    text-align: right;
    background-color: rgb(23, 78, 21);
    max-width: 100%;
}


input{
    font-size: 1em;
    align-self: end;
    border-radius: 15px ;
    background-color: rgb(57, 69, 71);
    color: rgb(12, 12, 11);
    margin: 10px;
    padding: 5px;
}

input:focus{
    background-color: rgb(198, 198, 218);
}

@keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }